.container{
    width: 940px;
    margin: 0 auto;
}

nav ul{
    list-style: none;    
}

a, a:hover {
    text-decoration: none;
}

#header{    
    padding-left: 10px;    
    left: 0;
    padding-bottom: 50px;
    padding-top: 50px;
    position: fixed;
    right: 0;
    top: 0;
    background-color: #1d3763;
    z-index: 999;
}